{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 4,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}
